<form [formGroup]="bookForm">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input formControlName="isbn" type="text" class="form-control" id="isbn">
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input formControlName="title" type="text" class="form-control" id="title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea formControlName="description" class="form-control" id="description"></textarea>
  </div>

  <div class="form-group">
    <button (click)="submitForm()" type="button" class="btn btn-danger">Create</button>
  </div>

</form>
