<div class="card mt-4">
  <div class="card-body bg-light">

    <img class="img-thumbnail float-right"
         src="//api.angular.schule/avatar/{{ book.rating }}">

    <div class="card-title">
      <h2>{{ book.title }}</h2>
      <span *ngFor="let star of '⭐'.repeat(book.rating).split('')">{{ star }}</span>
    </div>

    <p>{{ book.description }}</p>

    <!-- pfui +1 -->

    <button
      class="btn btn-secondary mr-2"
      (click)="book.rating = book.rating - 1">-1</button>

    <button
      class="btn btn-primary"
      (click)="book.rating = book.rating + 1">+1</button>

  </div>
</div>
