<div class="card mt-4">
  <div class="card-body bg-light">

    <img class="img-thumbnail float-right"
         src="//api.angular.schule/avatar/{{ book.rating }}">

    <div class="card-title">
      <h2>{{ book.title }}</h2>
      <span *ngFor="let star of '⭐'.repeat(book.rating).split('')">{{ star }}</span>
    </div>

    <p>{{ book.description }}</p>

    <button
      class="btn btn-secondary mr-2"
      (click)="rateDown()"
      [disabled]="book.rating <= 1"
      >-1</button>

    <button
      class="btn btn-primary"
      (click)="rateUp()"
      [disabled]="book.rating >= 5"
      testRateUpButton
      >+1</button>

    <a [routerLink]="['/book', book.isbn]" class="btn btn-secondary ml-2">Details</a>

  </div>
</div>
